@model IEnumerable<Task_core_mvc.Models.item>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1 style="text-align:center;font-size:30px ;color: #3d9970;font-family: cursive;">Card </h1>
<br />
<table class="table ">
    <thead>
        <tr style="color: #3d9970;font-family: cursive;">
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                   
                </tr>
            }
        }
    </tbody>
</table>
@if (Model != null)
{
    <div style="text-align:center">
        <a href="~/User/Order" class="btn btn-warning btn-sm">Confirm Order</a>
    </div>
}

@if (Model == null)
{
    <div style="text-align:center">
        <a href="#" class="btn btn-secondary btn-sm">Confirm Order</a>
    </div>
}
